

.site-footer { 
  margin-top: 60px;
  padding: 48px 20px 24px;
  background: linear-gradient(to bottom, #144C78,#176FB2);
  color: #fff;
}
.footer-logo{
  font-size: 24px;
  font-weight: 600;
}
/* TOP SECTION */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* LINKS */
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
}

.footer-links p{
  font-size: 18px;
  font-weight: 600;
}
.footer-links a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* SOCIAL ICONS */
.footer-social svg {
  margin-right: 14px;
  font-size: 32px;
  cursor: pointer;
  
}

/* BOTTOM SECTION — CENTERED */
.footer-bottom {
  margin-top: 40px;
  padding-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
}
.footer-brand{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: left;
  justify-content: left;

}
.footer-btn{
  padding: 16px 16px;
  border-radius: 36px;
  border: none;
  color:#0F2942;
  font-size:20px;
  font-weight:600;
}

